<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Attendance Monitoring Using RFID</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet"  href="./public/css/attendance.css">

    </head>
    <body>
        <header>
            <h2>Attendance Monitoring</h2>
        </header>
        <section>
            <div class="background-image" style="background-image: url(./public/css/back.jpg);"></div>
            <h1>Total Attendance is <span id="attendance"><strong>{{value}}<strong></span></h1>
        </section>
        <footer>
        </footer>
    </body>
</html>
