<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./public/css/style.css">
</head>
<body>
<section>
	<div class="container">
     <div class="contact">
	<form method="POST" action="/login">
		<p>

	<input type="email" name="email" placeholder="Email">
</p>
<p>

	<input type="password" name="password" placeholder="Password">
</p>
<p class="full">
	<input type="submit" value="LOG IN">
</p>
</form>
</div>
</div>
</section>
</body>
</html>
