<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./public/css/main.css">
</head>
<body>
	<form action = "/login">
	<p class="full">
		<input class="button1" type="submit" value="LOGOUT">
	</p>
</form>
<div class="button_cont" align="center"><a class="example_a" href="/attendance" rel="nofollow noopener">Attendance System</a></div>

<div class="button_cont" align="center"><a class="example_b" href="/light" rel="nofollow noopener">Light System</a></div>

<div class="button_cont" align="center"><a class="example_c" href="/email" rel="nofollow noopener">Email System</a></div>

<div class="button_cont" align="center"><a class="example_d" href="/student" rel="nofollow noopener">Add Students</a></div>
</body>
</html>
