<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./public/css/style.css">
</head>
<body>
<section>
	<div class="container">
     <div class="contact">
	<form method="POST" action="/showattendance">
		<p>

	<input type="text" name="reg_id" placeholder="Registration ID">
</p>
<p>
	<input type="text" name="from" placeholder="From">
</p>
<p>
	<input type="text" name="to" placeholder="To">
</p>
<p class="full">
	<input type="submit" value="FIND">
</p>
</form>
</div>
</div>
</section>
</body>
</html>
