<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./public/css/style.css">
</head>
<body>
<section>
	<div class="container">
     <div class="contact">
	<form method="POST" action="/student">
	<p>

	<input type="id" name="id" placeholder="Id">
</p>
    <p>

	<input type="name" name="name" placeholder="Name">
</p>
<p>

	<input type="email" name="email" placeholder="Email">
</p>

<p class="full">
	<input type="submit" value="REGISTER">
</p>
</form>
</div>
</div>
</section>
</body>
</html>
